.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.modal-footer{
    justify-content : center !important;
}

.click-text{
    cursor: pointer;
    border: none;
    background: none;
    color: #0033cc;
}

.click-text:hover{
    text-decoration: underline;
    color: #002080;
}

.none-events{
    pointer-events: none;
}
